/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include min-media(320px, portrait) {
  .perdido {
    margin-top: 6vh;
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(768px, portrait) {
  .perdido {
    min-height: 60vh;
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  .perdido {
    min-height: 60vh;
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(1280px) {
  .perdido {
    min-height: 30vh;
  }
}