/* Montserrat 300 - light */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Montserrat/Montserrat-Light.ttf");
}

/* Montserrat 400 - Regular */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

/* Montserrat 500 - Medium */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

/* Montserrat 700 - Bold */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

/* Montserrat 900 - Black */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/Montserrat/Montserrat-Black.ttf");
}